# API Configuration
export API_PROTOCOL=http
export API_HOST=localhost
export API_PORT=3000

# Database Configuration
export DB_HOST=localhost
export DB_PORT=4000
export DB_NAME=name_export db
export DB_TYPE=mongodb

# JWT Configuration
export JWT_SECRET=hello

# Bcrypt Configuration
export CRYPTO_SALT_ROUNDS=8
